@{
    // ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="Stylesheet" href="~/css/site.css">
    <title>Dazas's Wear</title>
</head>
<body style="background-color: rgb(255, 255, 255);">
<div class="navbar"><ul>
            <h1 class="Dazas">D A Z A S - W E A R ' S </h1>
            <li><a href="#home">Home</a></li>
            <li><a href="#Women">Women</a></li>
            <li><a href="#Mens">Mens</a></li>
            <li><a href="#Kids">Kids</a></li>
            <li><a href="#Merchaindise">Merchaindise</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
        </div>
        <div class="Main-img">

            <h3 class="textpic">HOLA FROM DAZAS WEARS</h3>
            </div>

            <h2 class="arrival">
                N E W - A R R I V A L
            </h2>
            <div class="row">
                <div class="column">
                  <img src="~/images/Shirt4.jpg" alt="Shirt3" style="width:100%">
                  <h3 style="text-align:center; font-size: 20px; color: red; font-family:'Times New Roman', Times, serif ">
                    Article-087
                  </h3>
                </div>
                <div class="column">
                  <img src="~/images/Shirt2.jpg" alt="Shirt1" style="width:100%">
                  <h3 style="text-align:center; font-size: 20px; color: red; font-family:'Times New Roman', Times, serif ">
                    Article-0856
                  </h3>
                </div>
                <div class="column">
                  <img src="~/images/Shirt3.jpg" alt="Shirt7" style="width:100%">
                  <h3 style="text-align:center; font-size: 20px; color: red; font-family:'Times New Roman', Times, serif ">
                    Article-0634
                  </h3>
                </div>
                <div class="column">
                    <img src="~/images/Shirt6.jpg" alt="Shirt1" style="width:100%">
                    <h3 style="text-align:center; font-size: 20px; color: red; font-family:'Times New Roman', Times, serif ">
                      Article-7643
                    </h3>
                  </div>
                </div>
                <div class="footer">
                    <div class="col-1">
                        <h3>
                            L I N K S 
                        </h3>
                        <a href="#">Home</a>
                        <a href="#">Clothes</a>
                        <a href="#">About</a>
                        <a href="#">Contact</a>
                    </div>
                    <div class="col-2">
                        <h3>
                            Register Yourself !
                        </h3>
                        <form>
                            <input type="text" your placeholder="Your Email Address">
                            <br>
                            <button type="submit">
                                    SUBMIT
                            </button>
                        </form>
                    </div>
                    <div class="col-3">
                        <h3>CONTACTS</h3>
                        <P>Raavi Town <br>Lahore, Pakistan, Asia</P>
                    </div>
                </div>
                


</body>




</html>